<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aracroproducts.attention">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/add"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/add_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <!-- android:showOnLockScreen="true" -->
        <activity
            android:name=".Alert"
            android:excludeFromRecents="true"
            android:showWhenLocked="true"
            android:theme="@style/AppTheme.Dialog"
            android:turnScreenOn="true" />

        <service
            android:name=".AppServer"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".AlertHandler"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Add"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".DialogActivity"
            android:label="Enter Name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>